<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>contry</th>
      <th>battingStyle</th>
      <th>bowlingStyle</th>
      <th>innings</th>
      <th>indivisual_runs</th>
      <th>batting_Avg</th>
      <th>str_rate</th>
      <th>bat_pos</th>
      <th>innings_bowled</th>
      <th>bow_avg</th>
      <th>innings_bowled</th>
      <th>wickets</th>
      <th>bow_economy</th>
      <th>Bow_strike_rate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>76</th>
      <td>Sikandar Raza</td>
      <td>Zimbabwe</td>
      <td>Right hand Bat</td>
      <td>Right arm Offbreak</td>
      <td>8.0</td>
      <td>219.0</td>
      <td>27.4</td>
      <td>148.0</td>
      <td>5.0</td>
      <td>8.0</td>
      <td>15.6</td>
      <td>8.0</td>
      <td>10.0</td>
      <td>6.885000</td>
      <td>14.4</td>
    </tr>
    <tr>
      <th>105</th>
      <td>Mitchell Santner</td>
      <td>New Zealand</td>
      <td>Left hand Bat</td>
      <td>Slow Left arm Orthodox</td>
      <td>3.0</td>
      <td>27.0</td>
      <td>27.0</td>
      <td>168.8</td>
      <td>7.0</td>
      <td>5.0</td>
      <td>14.3</td>
      <td>5.0</td>
      <td>9.0</td>
      <td>6.450000</td>
      <td>13.3</td>
    </tr>
    <tr>
      <th>127</th>
      <td>Rashid Khan</td>
      <td>Afghanistan</td>
      <td>Right hand Bat</td>
      <td>Legbreak Googly</td>
      <td>3.0</td>
      <td>57.0</td>
      <td>28.5</td>
      <td>178.1</td>
      <td>8.0</td>
      <td>3.0</td>
      <td>19.2</td>
      <td>3.0</td>
      <td>4.0</td>
      <td>6.416667</td>
      <td>18.0</td>
    </tr>
    <tr>
      <th>150</th>
      <td>Shadab Khan</td>
      <td>Pakistan</td>
      <td>Right hand Bat</td>
      <td>Legbreak</td>
      <td>5.0</td>
      <td>98.0</td>
      <td>24.5</td>
      <td>169.0</td>
      <td>6.0</td>
      <td>7.0</td>
      <td>15.0</td>
      <td>7.0</td>
      <td>11.0</td>
      <td>6.464286</td>
      <td>14.2</td>
    </tr>
  </tbody>
</table>