<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> SELECT WORLDS BEST T20 CRICKET TEAM  </h1><br><br>

        <h2> Click on playing positions for comparison</h2><br>

        
        <form method="GET", action="{{url_for('first')}}">
            <input type="submit" , value='OPENER BATTER' >
        </form>

        <form method="GET", action="{{url_for('second')}}">
             <input type="submit" , value='MIDDLE ORDER BATTER' >
        </form>

        <form method="GET", action="{{url_for('third')}}">
            <input type="submit" , value='LOWER MIDDLE ORDER BATTER' >
        </form>
       
        <form method="GET", action="{{url_for('fourth')}}">
            <input type="submit" , value='ALL ROUNDER' >
        </form>

        <form method="GET", action="{{url_for('fifth')}}">
            <input type="submit" , value='FAST BOWLER' >
        </form>


    
        
        </center>

    </body>
</html>